<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.erp.dao.mapper.QrtzJobListenersMapper">
  <resultMap id="BaseResultMap" type="com.test.erp.dao.model.QrtzJobListeners">
    <id column="JOB_NAME" jdbcType="VARCHAR" property="jobName" />
    <id column="JOB_GROUP" jdbcType="VARCHAR" property="jobGroup" />
    <id column="JOB_LISTENER" jdbcType="VARCHAR" property="jobListener" />
  </resultMap>

  <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
</mapper>