<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.erp.dao.mapper.QrtzJobDetailsMapper">
  <resultMap id="BaseResultMap" type="com.test.erp.dao.model.QrtzJobDetails">
    <id column="JOB_NAME" jdbcType="VARCHAR" property="jobName" />
    <id column="JOB_GROUP" jdbcType="VARCHAR" property="jobGroup" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="JOB_CLASS_NAME" jdbcType="VARCHAR" property="jobClassName" />
    <result column="IS_DURABLE" jdbcType="VARCHAR" property="isDurable" />
    <result column="IS_VOLATILE" jdbcType="VARCHAR" property="isVolatile" />
    <result column="IS_STATEFUL" jdbcType="VARCHAR" property="isStateful" />
    <result column="REQUESTS_RECOVERY" jdbcType="VARCHAR" property="requestsRecovery" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.test.erp.dao.model.QrtzJobDetails">
    <result column="JOB_DATA" jdbcType="LONGVARBINARY" property="jobData" />
  </resultMap>

  <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
</mapper>