<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.erp.dao.mapper.QrtzFiredTriggersMapper">
  <resultMap id="BaseResultMap" type="com.test.erp.dao.model.QrtzFiredTriggers">
    <id column="ENTRY_ID" jdbcType="VARCHAR" property="entryId" />
    <result column="TRIGGER_NAME" jdbcType="VARCHAR" property="triggerName" />
    <result column="TRIGGER_GROUP" jdbcType="VARCHAR" property="triggerGroup" />
    <result column="IS_VOLATILE" jdbcType="VARCHAR" property="isVolatile" />
    <result column="INSTANCE_NAME" jdbcType="VARCHAR" property="instanceName" />
    <result column="FIRED_TIME" jdbcType="BIGINT" property="firedTime" />
    <result column="PRIORITY" jdbcType="INTEGER" property="priority" />
    <result column="STATE" jdbcType="VARCHAR" property="state" />
    <result column="JOB_NAME" jdbcType="VARCHAR" property="jobName" />
    <result column="JOB_GROUP" jdbcType="VARCHAR" property="jobGroup" />
    <result column="IS_STATEFUL" jdbcType="VARCHAR" property="isStateful" />
    <result column="REQUESTS_RECOVERY" jdbcType="VARCHAR" property="requestsRecovery" />
  </resultMap>
  <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
</mapper>