<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.erp.dao.mapper.ScheduleJobMapper">
  <resultMap id="BaseResultMap" type="com.test.erp.dao.model.ScheduleJob">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="job_bean_name" jdbcType="VARCHAR" property="jobBeanName" />
    <result column="job_method_name" jdbcType="VARCHAR" property="jobMethodName" />
    <result column="job_params" jdbcType="VARCHAR" property="jobParams" />
    <result column="job_cron_expression" jdbcType="VARCHAR" property="jobCronExpression" />
    <result column="job_status" jdbcType="BIT" property="jobStatus" />
    <result column="job_remark" jdbcType="VARCHAR" property="jobRemark" />

  </resultMap>
  <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
</mapper>