<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.erp.dao.mapper.UpmsUserMapper">
  <resultMap id="BaseResultMap" type="com.test.erp.dao.model.UpmsUser">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_username" jdbcType="VARCHAR" property="userUsername" />
    <result column="user_password" jdbcType="VARCHAR" property="userPassword" />
    <result column="user_realname" jdbcType="VARCHAR" property="userRealname" />
    <result column="user_nickname" jdbcType="VARCHAR" property="userNickname" />
    <result column="user_mobile" jdbcType="VARCHAR" property="userMobile" />
    <result column="user_email" jdbcType="VARCHAR" property="userEmail" />
    <result column="user_appid" jdbcType="VARCHAR" property="userAppid" />
    <result column="user_type" jdbcType="TINYINT" property="userType" />
    <result column="user_status" jdbcType="INTEGER" property="userStatus" />
    <result column="user_city" jdbcType="VARCHAR" property="userCity" />
    <result column="user_province" jdbcType="VARCHAR" property="userProvince" />
    <result column="user_head" jdbcType="VARCHAR" property="userHead" />
    <result column="user_remark" jdbcType="VARCHAR" property="userRemark" />
    <result column="user_wallet" jdbcType="DECIMAL" property="userWallet" />
    <result column="user_pay_password" jdbcType="VARCHAR" property="userPayPassword" />
    <result column="ag_customer_id" jdbcType="VARCHAR" property="agCustomerId" />
    <result column="user_from" jdbcType="INTEGER" property="userFrom" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="login_date" jdbcType="TIMESTAMP" property="loginDate" />
    <result column="login_ip" jdbcType="VARCHAR" property="loginIp" />
    <result column="gender" jdbcType="TINYINT" property="gender" />
    <result column="birthday" jdbcType="TIMESTAMP" property="birthday" />
    <result column="is_auth" jdbcType="TINYINT" property="isAuth" />
    <result column="mtc_id" jdbcType="VARCHAR" property="mtcId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, user_username, user_password, user_realname, user_nickname, user_mobile, user_email, 
    user_appid, user_type, user_status, user_city, user_province, user_head, user_remark, 
    user_wallet, user_pay_password, ag_customer_id, user_from, create_date, create_by, 
    update_date, update_by, login_date, login_ip, gender, birthday, is_auth, mtc_id
  </sql>
  <select id="selectByExample" parameterType="com.test.erp.dao.model.UpmsUserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from upms_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from upms_user
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from upms_user
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.test.erp.dao.model.UpmsUserExample">
    delete from upms_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.test.erp.dao.model.UpmsUser">
    insert into upms_user (id, user_username, user_password, 
      user_realname, user_nickname, user_mobile, 
      user_email, user_appid, user_type, 
      user_status, user_city, user_province, 
      user_head, user_remark, user_wallet, 
      user_pay_password, ag_customer_id, user_from, 
      create_date, create_by, update_date, 
      update_by, login_date, login_ip, 
      gender, birthday, is_auth, 
      mtc_id)
    values (#{id,jdbcType=VARCHAR}, #{userUsername,jdbcType=VARCHAR}, #{userPassword,jdbcType=VARCHAR}, 
      #{userRealname,jdbcType=VARCHAR}, #{userNickname,jdbcType=VARCHAR}, #{userMobile,jdbcType=VARCHAR}, 
      #{userEmail,jdbcType=VARCHAR}, #{userAppid,jdbcType=VARCHAR}, #{userType,jdbcType=TINYINT}, 
      #{userStatus,jdbcType=INTEGER}, #{userCity,jdbcType=VARCHAR}, #{userProvince,jdbcType=VARCHAR}, 
      #{userHead,jdbcType=VARCHAR}, #{userRemark,jdbcType=VARCHAR}, #{userWallet,jdbcType=DECIMAL}, 
      #{userPayPassword,jdbcType=VARCHAR}, #{agCustomerId,jdbcType=VARCHAR}, #{userFrom,jdbcType=INTEGER}, 
      #{createDate,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=VARCHAR}, #{loginDate,jdbcType=TIMESTAMP}, #{loginIp,jdbcType=VARCHAR}, 
      #{gender,jdbcType=TINYINT}, #{birthday,jdbcType=TIMESTAMP}, #{isAuth,jdbcType=TINYINT}, 
      #{mtcId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.test.erp.dao.model.UpmsUser">
    insert into upms_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userUsername != null">
        user_username,
      </if>
      <if test="userPassword != null">
        user_password,
      </if>
      <if test="userRealname != null">
        user_realname,
      </if>
      <if test="userNickname != null">
        user_nickname,
      </if>
      <if test="userMobile != null">
        user_mobile,
      </if>
      <if test="userEmail != null">
        user_email,
      </if>
      <if test="userAppid != null">
        user_appid,
      </if>
      <if test="userType != null">
        user_type,
      </if>
      <if test="userStatus != null">
        user_status,
      </if>
      <if test="userCity != null">
        user_city,
      </if>
      <if test="userProvince != null">
        user_province,
      </if>
      <if test="userHead != null">
        user_head,
      </if>
      <if test="userRemark != null">
        user_remark,
      </if>
      <if test="userWallet != null">
        user_wallet,
      </if>
      <if test="userPayPassword != null">
        user_pay_password,
      </if>
      <if test="agCustomerId != null">
        ag_customer_id,
      </if>
      <if test="userFrom != null">
        user_from,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="loginDate != null">
        login_date,
      </if>
      <if test="loginIp != null">
        login_ip,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="birthday != null">
        birthday,
      </if>
      <if test="isAuth != null">
        is_auth,
      </if>
      <if test="mtcId != null">
        mtc_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userUsername != null">
        #{userUsername,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null">
        #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userRealname != null">
        #{userRealname,jdbcType=VARCHAR},
      </if>
      <if test="userNickname != null">
        #{userNickname,jdbcType=VARCHAR},
      </if>
      <if test="userMobile != null">
        #{userMobile,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null">
        #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="userAppid != null">
        #{userAppid,jdbcType=VARCHAR},
      </if>
      <if test="userType != null">
        #{userType,jdbcType=TINYINT},
      </if>
      <if test="userStatus != null">
        #{userStatus,jdbcType=INTEGER},
      </if>
      <if test="userCity != null">
        #{userCity,jdbcType=VARCHAR},
      </if>
      <if test="userProvince != null">
        #{userProvince,jdbcType=VARCHAR},
      </if>
      <if test="userHead != null">
        #{userHead,jdbcType=VARCHAR},
      </if>
      <if test="userRemark != null">
        #{userRemark,jdbcType=VARCHAR},
      </if>
      <if test="userWallet != null">
        #{userWallet,jdbcType=DECIMAL},
      </if>
      <if test="userPayPassword != null">
        #{userPayPassword,jdbcType=VARCHAR},
      </if>
      <if test="agCustomerId != null">
        #{agCustomerId,jdbcType=VARCHAR},
      </if>
      <if test="userFrom != null">
        #{userFrom,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="loginDate != null">
        #{loginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="loginIp != null">
        #{loginIp,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=TINYINT},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="isAuth != null">
        #{isAuth,jdbcType=TINYINT},
      </if>
      <if test="mtcId != null">
        #{mtcId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.test.erp.dao.model.UpmsUserExample" resultType="java.lang.Long">
    select count(*) from upms_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update upms_user
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.userUsername != null">
        user_username = #{record.userUsername,jdbcType=VARCHAR},
      </if>
      <if test="record.userPassword != null">
        user_password = #{record.userPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.userRealname != null">
        user_realname = #{record.userRealname,jdbcType=VARCHAR},
      </if>
      <if test="record.userNickname != null">
        user_nickname = #{record.userNickname,jdbcType=VARCHAR},
      </if>
      <if test="record.userMobile != null">
        user_mobile = #{record.userMobile,jdbcType=VARCHAR},
      </if>
      <if test="record.userEmail != null">
        user_email = #{record.userEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.userAppid != null">
        user_appid = #{record.userAppid,jdbcType=VARCHAR},
      </if>
      <if test="record.userType != null">
        user_type = #{record.userType,jdbcType=TINYINT},
      </if>
      <if test="record.userStatus != null">
        user_status = #{record.userStatus,jdbcType=INTEGER},
      </if>
      <if test="record.userCity != null">
        user_city = #{record.userCity,jdbcType=VARCHAR},
      </if>
      <if test="record.userProvince != null">
        user_province = #{record.userProvince,jdbcType=VARCHAR},
      </if>
      <if test="record.userHead != null">
        user_head = #{record.userHead,jdbcType=VARCHAR},
      </if>
      <if test="record.userRemark != null">
        user_remark = #{record.userRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.userWallet != null">
        user_wallet = #{record.userWallet,jdbcType=DECIMAL},
      </if>
      <if test="record.userPayPassword != null">
        user_pay_password = #{record.userPayPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.agCustomerId != null">
        ag_customer_id = #{record.agCustomerId,jdbcType=VARCHAR},
      </if>
      <if test="record.userFrom != null">
        user_from = #{record.userFrom,jdbcType=INTEGER},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createBy != null">
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updateDate != null">
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null">
        update_by = #{record.updateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.loginDate != null">
        login_date = #{record.loginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.loginIp != null">
        login_ip = #{record.loginIp,jdbcType=VARCHAR},
      </if>
      <if test="record.gender != null">
        gender = #{record.gender,jdbcType=TINYINT},
      </if>
      <if test="record.birthday != null">
        birthday = #{record.birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isAuth != null">
        is_auth = #{record.isAuth,jdbcType=TINYINT},
      </if>
      <if test="record.mtcId != null">
        mtc_id = #{record.mtcId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update upms_user
    set id = #{record.id,jdbcType=VARCHAR},
      user_username = #{record.userUsername,jdbcType=VARCHAR},
      user_password = #{record.userPassword,jdbcType=VARCHAR},
      user_realname = #{record.userRealname,jdbcType=VARCHAR},
      user_nickname = #{record.userNickname,jdbcType=VARCHAR},
      user_mobile = #{record.userMobile,jdbcType=VARCHAR},
      user_email = #{record.userEmail,jdbcType=VARCHAR},
      user_appid = #{record.userAppid,jdbcType=VARCHAR},
      user_type = #{record.userType,jdbcType=TINYINT},
      user_status = #{record.userStatus,jdbcType=INTEGER},
      user_city = #{record.userCity,jdbcType=VARCHAR},
      user_province = #{record.userProvince,jdbcType=VARCHAR},
      user_head = #{record.userHead,jdbcType=VARCHAR},
      user_remark = #{record.userRemark,jdbcType=VARCHAR},
      user_wallet = #{record.userWallet,jdbcType=DECIMAL},
      user_pay_password = #{record.userPayPassword,jdbcType=VARCHAR},
      ag_customer_id = #{record.agCustomerId,jdbcType=VARCHAR},
      user_from = #{record.userFrom,jdbcType=INTEGER},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=VARCHAR},
      login_date = #{record.loginDate,jdbcType=TIMESTAMP},
      login_ip = #{record.loginIp,jdbcType=VARCHAR},
      gender = #{record.gender,jdbcType=TINYINT},
      birthday = #{record.birthday,jdbcType=TIMESTAMP},
      is_auth = #{record.isAuth,jdbcType=TINYINT},
      mtc_id = #{record.mtcId,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.test.erp.dao.model.UpmsUser">
    update upms_user
    <set>
      <if test="userUsername != null">
        user_username = #{userUsername,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null">
        user_password = #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userRealname != null">
        user_realname = #{userRealname,jdbcType=VARCHAR},
      </if>
      <if test="userNickname != null">
        user_nickname = #{userNickname,jdbcType=VARCHAR},
      </if>
      <if test="userMobile != null">
        user_mobile = #{userMobile,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null">
        user_email = #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="userAppid != null">
        user_appid = #{userAppid,jdbcType=VARCHAR},
      </if>
      <if test="userType != null">
        user_type = #{userType,jdbcType=TINYINT},
      </if>
      <if test="userStatus != null">
        user_status = #{userStatus,jdbcType=INTEGER},
      </if>
      <if test="userCity != null">
        user_city = #{userCity,jdbcType=VARCHAR},
      </if>
      <if test="userProvince != null">
        user_province = #{userProvince,jdbcType=VARCHAR},
      </if>
      <if test="userHead != null">
        user_head = #{userHead,jdbcType=VARCHAR},
      </if>
      <if test="userRemark != null">
        user_remark = #{userRemark,jdbcType=VARCHAR},
      </if>
      <if test="userWallet != null">
        user_wallet = #{userWallet,jdbcType=DECIMAL},
      </if>
      <if test="userPayPassword != null">
        user_pay_password = #{userPayPassword,jdbcType=VARCHAR},
      </if>
      <if test="agCustomerId != null">
        ag_customer_id = #{agCustomerId,jdbcType=VARCHAR},
      </if>
      <if test="userFrom != null">
        user_from = #{userFrom,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="loginDate != null">
        login_date = #{loginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="loginIp != null">
        login_ip = #{loginIp,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=TINYINT},
      </if>
      <if test="birthday != null">
        birthday = #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="isAuth != null">
        is_auth = #{isAuth,jdbcType=TINYINT},
      </if>
      <if test="mtcId != null">
        mtc_id = #{mtcId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.test.erp.dao.model.UpmsUser">
    update upms_user
    set user_username = #{userUsername,jdbcType=VARCHAR},
      user_password = #{userPassword,jdbcType=VARCHAR},
      user_realname = #{userRealname,jdbcType=VARCHAR},
      user_nickname = #{userNickname,jdbcType=VARCHAR},
      user_mobile = #{userMobile,jdbcType=VARCHAR},
      user_email = #{userEmail,jdbcType=VARCHAR},
      user_appid = #{userAppid,jdbcType=VARCHAR},
      user_type = #{userType,jdbcType=TINYINT},
      user_status = #{userStatus,jdbcType=INTEGER},
      user_city = #{userCity,jdbcType=VARCHAR},
      user_province = #{userProvince,jdbcType=VARCHAR},
      user_head = #{userHead,jdbcType=VARCHAR},
      user_remark = #{userRemark,jdbcType=VARCHAR},
      user_wallet = #{userWallet,jdbcType=DECIMAL},
      user_pay_password = #{userPayPassword,jdbcType=VARCHAR},
      ag_customer_id = #{agCustomerId,jdbcType=VARCHAR},
      user_from = #{userFrom,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      login_date = #{loginDate,jdbcType=TIMESTAMP},
      login_ip = #{loginIp,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=TINYINT},
      birthday = #{birthday,jdbcType=TIMESTAMP},
      is_auth = #{isAuth,jdbcType=TINYINT},
      mtc_id = #{mtcId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
</mapper>